.social-media-platforms{
    height: 100%;
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
    .close{
        position: absolute;
        left: 95%;
        top: -3%;
        cursor: pointer;
        color: var(--color3);
    }

    .social-media{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        align-items: center;

        mat-icon,span{
            margin: 0 0.2rem;
            font-size: 20px;
            cursor: pointer;
            line-height: 1.5rem;
        }
    }
    
}