<div class="comments">
    <mat-icon (click)="closePrompt()" class="close">highlight_off</mat-icon>
    
    <!-- Comment View -->
    <div class="comment-view">

        <!-- Post image -->
        <div class="image">
            <img [src]="post.post" alt="">
        </div>
        <div class="caption">
            <small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum suscipit debitis quia maxime assumenda doloribus nisi quis natus neque ab placeat, ea vero nulla veniam voluptates animi quaerat adipisci laboriosam?</small>
        </div>
        <!-- Comment area -->
        <div class="comment-area">
            
            <!-- Existing comments -->
            <div class="existing-comments">
                <div class="user-comment" *ngFor="let comment of userComments;index as i">
                    <span>{{comment.userName}}: &nbsp;</span>
                    <small>{{comment.desc}}</small>
                </div>
            </div>

            <!-- Add new comment -->
            <div class="new-comment">
                <form [formGroup]="commentForm" (ngSubmit)="addComment()">
                    <input type="text" placeholder="Add a comment" formControlName = "comment" (keyup)="checkComment()">
                    <button mat-icon-button type="submit" [disabled]="!hasComment"> <mat-icon>send</mat-icon></button>
                </form>
            </div>
        </div>
    </div>
</div>