.container-login{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(100deg,
    rgb(0, 5, 10),rgba(253, 251, 251, 0)), url('../../assets/51363.jpg');
    overflow: hidden;

    .app-name{
        position: relative;
        top: 5%;
        left:5%;
        color: var(--color0);
        font-size: large;
    }

    .inner-login{
        width: 45%;
        height: 80%;
        position: relative;
        top: 20%;
        left:5%;
        border-radius: 10px;
      

        .form-header{
            display: flex;
            flex-direction: column;
            height: 20%;
            justify-content: space-evenly;
            letter-spacing: 0.1em;

            .light-header{
                color: var(--color7);
            }

            .bright-header{
                color: var(--color0);
                font-size: 48px;
            }

            .header-flex{
                display: flex;
                .header-link{
                    padding-left: 1rem;
                    color: var(--color6);
                    cursor: pointer;
                }
            }
            
        }

        .signup,.login{
            

    
        }

        .signup,.login{
            

    
            form{
                margin-top: 2rem;   
                width: 60%;
            }

            .form-wrapper-flex{
                display: flex;
                justify-content: space-between;
            }
    
            .form-wrapper{
                display: flex;
                flex-direction: column;
                margin: 1rem 0;

                
                .form-field{

                    background-color: var(--color8);
                    border-radius: 10px;

                    mat-label{
                        color: var(--color7);
                    }

                    input{
                        color: var(--color0);
                        border: none;
                    }
                }
            
    
                // input{
                //     border-radius: 10px;
                //     border: 1px solid var(--color2);
                //     height: 1.7rem;
                //     font-size: 1rem;
                //     outline: none;
                //     margin: 0.4rem;
                //     padding-left: 0.4rem;
                // }
    
                // .invalid{
                //     border: 1px solid var(--color5);
                // }
    
                .error-text{
                    color: var(--color5);
                    padding-left: 0.8rem;           
                 }
    
            }
    
            .buttons{
                padding: 0.8rem 0;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
    
                a{
                    cursor: pointer;
                }
    
                button{
                    background: var(--color6);
                    color: var(--color0);
                }
            }
        }
    
        .landing-image{
            width: 60%;
    
            img{
                display: block;
                width: 100%;
                height: 100%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }
}

@media screen and (max-width:768px){
    .container-login{
        background: var(--color0);
        margin-top: 10rem;
        height: auto;
        .inner-login{
            height: fit-content;
            width: 70%;
            border-radius: 0;
            box-shadow: none;
            position: initial;
    
            .signup,.login{
                width: 100%;
                margin: 0;
                height: fit-content;
    
                form{
                    top: 30%;
                    width: 100%;
                }
            }
    
            .landing-image{
                display: none;
            }
        }   
    } 
}