.container-login{
    height: 100%;
    width: 100%;
    background-image: url(../../assets/hans-isaacson-9ey2kb_OizQ-unsplash.jpg);
    background-position: center;

    .inner-login{
        width: 40%;
        height: 80%;
        position: relative;
        top: 10%;
        margin: 0 auto;    
        border-radius: 10px;
        box-shadow: 2px 2px 15px 5px var(--color3);
        display: flex;

        .signup,.login{
            border-radius: 10px;
            height: auto;
            width: 100%;
            margin: 0 auto;
            overflow-y: hidden;
            .tagline{
                text-align: center;
                font-size: x-large;
                position: relative;
                top: 20%;
            }
    
            form{
                position: relative;
                top: 25%;
                width: 75%;
                margin: 0 auto;
            }
    
            .form-wrapper{
                display: flex;
                flex-direction: column;
                margin: 1rem 0;
    
                label{
                    padding-left: 0.8rem;
                }
    
                input{
                    border-radius: 10px;
                    border: 1px solid var(--color2);
                    height: 1.7rem;
                    font-size: 1rem;
                    outline: none;
                    margin: 0.4rem;
                    padding-left: 0.4rem;
                }
    
                .invalid{
                    border: 1px solid var(--color5);
                }
    
                .error-text{
                    color: var(--color5);
                    padding-left: 0.8rem;           
                 }
    
            }
    
            .buttons{
                padding: 0 0.8rem;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
    
                a{
                    cursor: pointer;
                }
    
                button{
                    background: var(--color1);
                    color: var(--color3);
                }
            }
        }    
    }
}

@media screen and (max-width:768px){
    .container-login{
        background: var(--color0);
        margin-top: 10rem;
        height: auto;
        .inner-login{
            height: fit-content;
            width: 70%;
            border-radius: 0;
            box-shadow: none;
            position: initial;
    
            .signup,.login{
                width: 100%;
                margin: 0;
                height: fit-content;
    
                form{
                    top: 30%;
                    width: 100%;
                }
            }
    
            .landing-image{
                display: none;
            }
        }   
    } 
}